body {
    background-image:
        url("https://i.ytimg.com/vi/kxqJuc1HHbg/maxresdefault.jpg");

}

#gameover {
    color: red;
    font-size: 100px;
}

.feelers {
    color: white;
    /*font-size: 25px;*/

}


div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow:hidden;


}

#barbarian {
    display: flex;
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 600px;
    /*justify-content: justify;*/
    flex-shrink: .5;
    /*overflow: hidden;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/
   animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 50%;
        }

        to {
            margin-right: 100%;
            width: 50%;
        }

    }


.slime {
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: auto;


}


#sleep-btn {
    width: 25px;
    height: 25px;
}